<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href='/static/image/树莓派.ico'>
     <script type="text/javascript" src="{% static "bootstrap-3.3.7-dist/js/bootstrap.min.js" %}"></script>
    <link rel="stylesheet" type="text/css" href={% static 'bootstrap-3.3.7-dist/css/bootstrap.min.css' %}>

   <title>黄文杨的私有云</title>
</head>
<body>
<div style="margin: 0 auto">
	<img class="img-rounded" src='data:image/jpg;base64,{{ img_url  }}' alt="">
</div>
</body>
</html>
