{# index.html #}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<div style="text-align: center">
    {% for blog in data %}
        <h3><a style="" href="/content/?pk={{ blog.pk }}">{{ blog.title }}(阅读数量：{{ blog.readnum }})</a></h3>
        <br/>
    {% endfor %}
</div>
<div style="text-align: center">
        <ul class="pagination">
            <li>
                {% if obj.number == 1 %} {# 判断当前页码是否为第一页，如果为第一页，则禁止点击 #}
                    <a class="previous disabled" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    </a>
                {% else %}
                    <a href="?page={{ obj.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    </a>
                {% endif %}

            </li>
            {% for num in page_num %}
                {% if num == obj.number %}
                    <li class="active"><a href="?page={{ num }}">{{ num }}</a></li>
                {% else %}
                    <li><a href="?page={{ num }}">{{ num }}</a></li>
                {% endif %}
            {% endfor %}
            <li>
                {% if not obj.has_next %} {# 判断是否有下一页，如果没有下一页，则禁止点击 #}
                    <a class="previous disabled" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    </a>
                {% else %}
                    <a href="?page={{ obj.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    </a>
                {% endif %}

            </li>
        </ul>
</div>
</body>
</html>