<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CSS背景</title>
    <link rel="stylesheet" type="text/css" href="static/style.css" >
</head>
<body>
<div>
    <h1>测试文字</h1>
    <h1>测试文字</h1>
    <h1>测试文字</h1>
    <h1>测试文字</h1>
    <h1>测试文字</h1>
    <h1>测试文字</h1>
    <h1>测试文字</h1>
    <h1>测试文字</h1>
    <h1>测试文字</h1>
    <h1>测试文字</h1>
    <h1>测试文字</h1>
    <h1>测试文字</h1>
    <h1>测试文字</h1>
    <h1>测试文字</h1>
    <h1>测试文字</h1>
    <h1>测试文字</h1>
    <h1>测试文字</h1>
    <h1>测试文字</h1>
    <h1>测试文字</h1>
    <h1>测试文字</h1>
    <h1>测试文字</h1>
    <h1>测试文字</h1>
    <h1>测试文字</h1>
    <h1>测试文字</h1>
    <h1>测试文字</h1>
    <h1>测试文字</h1>



</div>
</body>
</html>
