{# content_template.html #}
{% load staticfiles %}
{% load get_attitude_num %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>content</title>
    <link rel="stylesheet" href={% static 'CSS/content_template.css' %}>
    <script type="text/javascript" src="http://www.huangwenyang.cn/static/jquery.min.js"></script>
    <script type="text/javascript" src="http://www.huangwenyang.cn/static/ckeditor/ckeditor-init.js"></script>
    <script type="text/javascript" src="http://www.huangwenyang.cn/static/ckeditor/ckeditor/ckeditor.js"></script>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<div id="content">
    {{ text }}
    <hr>
    <h5>态度</h5>
    <div class="attitude_img" onclick="publish_attitude(this, 'flower', 'article', {{ pk }}, '1', '{{ user }}')"><div id="attitude_height1" style="width: 15px; height: {% get_attitude_num_height 'article' pk 'flower' %}0px; background-color: #f22; margin: 8.5px;"></div><img src={% static 'image/xianhua.gif' %}><small><span class="attitude_text {% get_attitude_record 'article' pk user 'flower' %}">鲜花</span><span class="attitude_num_flower">({% get_attitude_num 'article' pk 'flower' %})</span></small></div>
    <div class="attitude_img" onclick="publish_attitude(this, 'handshake', 'article', {{ pk }}, '2', '{{ user }}')"><div id="attitude_height2" style="width: 15px; height: {% get_attitude_num_height 'article' pk 'handshake' %}0px; background-color: #f22; margin: 8.5px;"></div><img src={% static 'image/woshou.gif' %}><small><span class="attitude_text {% get_attitude_record 'article' pk user 'handshake' %}">握手</span><span class="attitude_num_handshake">({% get_attitude_num 'article' pk 'handshake' %})</span></small></div>
    <div class="attitude_img" onclick="publish_attitude(this, 'pass', 'article', {{ pk }}, '3', '{{ user }}')"><div id="attitude_height3" style="width: 15px; height: {% get_attitude_num_height 'article' pk 'pass' %}0px; background-color: #f22; margin: 8.5px;"></div><img src={% static 'image/luguo.gif' %}><small><span class="attitude_text {% get_attitude_record 'article' pk user 'pass' %}">路过</span><span class="attitude_num_pass">({% get_attitude_num 'article' pk 'pass' %})</span></small></div>
    <div class="attitude_img" onclick="publish_attitude(this, 'shocking', 'article', {{ pk }}, '4', '{{ user }}')"><div id="attitude_height4" style="width: 15px; height: {% get_attitude_num_height 'article' pk 'shocking' %}0px; background-color: #f22; margin: 8.5px;"></div><img src={% static 'image/leiren.gif' %}><small><span class="attitude_text {% get_attitude_record 'article' pk user 'shocking' %}">雷人</span><span class="attitude_num_shocking">({% get_attitude_num 'article' pk 'shocking' %})</span></small></div>
    <div class="attitude_img" onclick="publish_attitude(this, 'egg', 'article', {{ pk }}, '5', '{{ user }}')"><div id="attitude_height5" style="width: 15px; height: {% get_attitude_num_height 'article' pk 'egg' %}0px; background-color: #f22; margin: 8.5px;"></div><img src={% static 'image/jidan.gif' %}><small><span class="attitude_text {% get_attitude_record 'article' pk user 'egg' %}">鸡蛋</span><span class="attitude_num_egg">({% get_attitude_num 'article' pk 'egg' %})</span></small></div>
    <div id="attitude_user_list" style="text-align: left"><b>当前已表态的用户（{{ attitude_user_list_len }}人）：

        {% for attitude_user in attitude_user_list %}
            {{ attitude_user }}&nbsp;&nbsp;
        {% endfor %}

    </b></div>
    <hr>
</div>


{# 评论部分 #}
<div class="comment">
{% if log_info %}
    <small><b>欢迎评论：{{ user }}</b></small>
{# form表单 #}
    <form id="comment_form" , method="post">
        {% csrf_token %}
        {{ comment_form }}
        <input type="hidden" name="content_type" value="article">
        <input type="hidden" name="object_id" value={{ pk }}>
        <input id="submit" class="btn btn-primary" type="submit" value="提交评论" name="submit">
    </form>
    <br>
    <hr>
{% else %}

    <small><b>未登录，~登录可评论~<a href="/login/?from_page=/content/?pk={{ pk }}">登录</a>~<a href="/register/?from_page=/content/?pk={{ pk }}">注册</a>~<br></b></small>
{% endif %}


{% if comment_data == 'None' %}
    <small><b>评论列表</b></small>
    <div class="comment_text" style="text-align: left"><span id="no_comment">暂时没有评论</span></div>
{% else %}
    <small><b>评论列表</b></small>
    <div class="comment_text">
    {% for comment in comment_data %}
        <small><b><div class="comment_info">评论者：{{ comment.comment_user }}&nbsp;&nbsp;&nbsp;&nbsp;评论时间：{{ comment.comment_time|date:"Y-m-d H:i:s" }}</div></b></small>
        <div class="comment_text_son">{{ comment.comment_text|safe }}</div>
        <br>
    {% endfor %}
    </div>
{% endif %}
    <hr>
</div>



{# Js代码 #}
<script type="text/javascript">
    function publish_attitude(obj, attitude_type, content_type, object_id, attitude_id, user) {
        $.ajax({
            url: '/get_attitude/',
            type: 'GET',
            data: {
                attitude_type: attitude_type,
                content_type: content_type,
                object_id: object_id,
            },
            cache: false,
            success: function (data) {
                console.log(data)
                if (data['status'] == 'SUCCESS'){
                    // 更新状态
                    var record = $(obj.getElementsByClassName('attitude_text'))
                        record.addClass('active');
                    // 更新数量
                    var attitude_num = $(obj.getElementsByClassName('attitude_num_' + data['attitude_type']))
                    attitude_num.text('(' + data['attitude_num'] + ')');
                    // 更新高度
                    document.getElementById("attitude_height" + attitude_id).style.height=data['attitude_num'] + "0px";
                    // 更新表态的用户
                    var attitude_user_html = '<b>' + user + '</b>';
                    $('#attitude_user_list').append(attitude_user_html)

                }
                else{
                    // 以弹窗的形式显示错误信息
                    alert(data['message'])

                }
            },
            error: function (xhr) {
                console.log(xhr)
            }

        });
        return false;
    }


    $('#comment_form').submit(function () {
        // 更新数据
        CKEDITOR.instances['id_comment_text'].updateElement();
        $.ajax({
            url: '/comment/',
            type: 'POST',
            cache: false,
            data: $(this).serialize(),
            success: function (data) {
                console.log(data)
                if (data['status'] == "SUCCESS"){
                    // 插入更新的评论数据
                    var comment_html = "<small><b><div class='comment_info'>评论者：" + data['comment_user'] + "&nbsp;&nbsp;&nbsp;&nbsp;评论时间：" + data['comment_time'] + "</div></b></small>" +
                        "<div class='comment_text_son'>" + data['comment_text'] + "</div><br>";
                    $('.comment_text').prepend(comment_html);
                    // 清空输入框中的内容
                    CKEDITOR.instances['id_comment_text'].setData('')
                    $('#no_comment').remove()
                }else {
                    // 以弹窗的形式显示错误信息
                    alert(data['message'])
                }

            },
            error: function (xhr) {
                console.log(xhr)
            }


        })
        return false;
    })

</script>

</body>
</html>