{% extends 'index.html' %}
{% block title %}
    <title>login</title>
{% endblock %}
{% block content %}
    <div class="containter" style="margin-top:5%; width:100%">
    <div class="row" style="width:80%; margin-left:10%">
        <div class="col-xs-4 col-xs-offset-4" style="width:100%; margin-left:0px;">
            <div class="panel panel-default" style="width: 300px; margin: 0 auto">
                  <div class="panel-heading">
                          <h3 class="panel-title">重置密码</h3>
                    </div>
                 <div class="panel-body">
                         <form id="forgot_password" action="" method="POST">
                             {% csrf_token %}

                            <label for="id_email">绑定的邮箱</label>
                            <input name="email" class="form-control" placeholder="请输入邮箱" required="" id="id_email" type="text">
                            <p class="text-danger"></p>

                            <label for="id_verification_code">验证码</label>
                            <input name="verification_code" class="form-control" placeholder="请输入验证码" required="" id="id_verification_code" type="text">
                            <p class="text-danger"></p>

                            <label for="id_password">新的密码</label>
                            <input name="password" class="form-control" placeholder="请输入密码" required="" id="id_password" type="password">
                            <p class="text-danger"></p>

                            <label for="id_again_password">确认密码</label>
                            <input name="again_password" class="form-control" placeholder="请再输入一次密码" required="" id="id_again_password" type="password">
                            <p class="text-danger"></p>


                            <span class="pull-left text-danger"></span>
                            <div class="clearfix"></div>



                            <input value="发送验证码" class="btn btn-primary pull-left" type="button" onclick="get_verification_code()">
                            <input value="重置密码" class="btn btn-primary pull-right" type="submit" >
                        </form>

                </div>
            </div>

    </div>

    </div>
    </div>
    <div style="height: 120px"></div>

    <script type="text/javascript">
        {# 发送验证码JS代码 #}
        function get_verification_code() {
            var email = $('#id_email').val();
            $.ajax({
                url: '/forgot_code/',
                type: 'POST',
                cache: false,
                data: {
                    email: email,
                },
                success: function (data) {
                    console.log(data)
                    if (data['status'] == 'ERROR'){
                       alert(data['message'])
                    }
                },
                error: function (xhr) {
                    console.log(xhr)
                }
            })
            return false;
        }

        {# 重置密码JS代码 #}
        $('#forgot_password').submit(function () {
            $.ajax({
                url: '/forgot_password/',
                type: 'POST',
                cache: false,
                data: $(this).serialize(),
                success: function (data) {
                    console.log(data)
                    if (data['status'] == 'SUCCESS'){
                       alert(data['message']);
                       window.location.href='/login/';
                    }
                    else {
                        alert(data['message'])
                    }
                },
                error: function (xhr) {
                    console.log(xhr)
                }
            });
            return false;
        })
    </script>
{% endblock %}