#content{
    text-align: center;
    margin-top: 100px;
    margin-left: 20%;
    width: 60%;
}

.attitude_img{
    width: 32px;
    display: inline-block;
    margin: 5%;
    cursor: pointer;
}

#content .active{
    color: #f22;
}

#attitude_user{
    text-align: left;
}

.comment{
    margin-left: 20%;
    text-align: center;
    width: 60%;
}

.comment_text_son{
    margin-left: 20px;
    text-align: left;
}

.comment_info{
    text-align: left;
}

.django-ckeditor-widget{
    width: 100%;
}

#submit{
    float: right;
}